<div class="content">
    <div class="section">
        <p>Thank you for completing authentication, please send the following link to the service representative on {{channel}}</p>
        <p><a href="{{verificationLink}}">{{verificationLink}}</a></p>
    </div>
</div>