<div class="content">
    <div class="section">
        <p>You have been asked to complete authentication to continue your request on {{channel}}</p>
    </div>

    <div class="section">
    <a href="/verification"><button class="btn" type="button"><span>Login</span></button></a>
    </div>
</div>