	<h1>{{name}}</h1>
	<h2>Cross channel Authentication</h2>
	<p class="major">To be able to assist you in your query by phone, chat or WhatsApp {{name}} might require you to authenticate. This is done to verify your identity and to keep your account and data safe. </p>
	<p>Please continue to the login to get a verification code.</p>

		<a href="/verification"><input class="js-copy-jwt-btn" type="button" name="submit" id="submit" value="Next"></a>
</div>

